@model Cars_WebAPI.Models.Car

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Car</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Speed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Speed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
    </dl>
    
    <form id="deleteCarForm">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#deleteCarForm").on("submit", function (e) {
                e.preventDefault();

                var carId = $("#Id").val();

                $.ajax({
                    url: "/api/Cars/" + carId,
                    type: "DELETE",
                    beforeSend: function (xheader) {
                        var token = sessionStorage.getItem(tokenKey);
                        xheader.setRequestHeader("Authorization", "Bearer " + token);
                    },
                    success: function (result) {
                        window.location.href = "/Cars";
                    },
                    error: function (xhr, status, error) {
                        alert("Error deleting car: " + xhr.responseText);
                    }
                });
            });
        });
    </script>
}
